@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:wght@400;700&family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap');

:root{
  --principal:rgb(25, 42, 81);
  --secundaria:rgb(124, 146, 153);
  --destaque:rgb(255, 207, 86);
  --contraste:rgb(252, 247, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open-sans', sans-serif;
    background-color: var(--contraste);
  }
  
  .titulo {
    color: var(--contraste);
    background-color: var(--principal);
    font-size: 24px;
    padding: 10px;
    margin: auto;
    text-shadow: 2px 2px 10px black;
  }
  
  .link a {
    text-decoration: none;
    font-size: 18px;
    color: var(--contraste);
    display: block;
  }
  
  .link a:hover {
    color: var(--secundaria);
  }
  
  .link a:active {
    color: var(--destaque);
  }
  
  .principal {
    margin: auto;
    text-align: center;
    color: var(--principal);
    font-size: 1.4rem;
    padding: 20px;
  }
  
  .projetos {
    background-color: var(--contraste);
    color: var(--secundaria);
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 30px;
    text-align: left;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
  }
  
  .projetos h1,
  .projetos h2,
  .projetos h3,
  .projetos h4,
  .projetos h5,
  .projetos h6 {
    padding-top: 20px;
  }
  
  .projetos a,
  li {
    color: black;
    text-decoration: none;
    list-style: none;
  }
  
  .bloco {
    margin: 0 50px;
  }
  
  .bloco a:hover {
    color: var(--secundaria);
    transition: 0.4s;
  }
  
  .bloco a:active {
    color: var(--destaque);
  }
  
  .rodape {
    margin: auto;
    text-align: center;
    color: var(--contraste);
    font-size: 1.0rem;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px; /* Altura do rodapé */
    background-color: var(--secundaria);
    padding: 10px;
  }

  /* Estilos para Tablets */
  @media screen and (max-width: 991px) {
    .projetos {
      width: 80%;
      max-width: 600px;
      padding: 15px;
    }
  
    .bloco {
      margin: 0;
    }
  }
  
  /* Estilos para smartphones */
  @media (max-width: 767px) {
    .projetos {
      max-width: 100%;
      padding: 10px;
    }
    
    .bloco {
      margin: 0;
    }
    
    .titulo {
      font-size: 20px;
      padding: 8px;
    }
    
    .link a {
      font-size: 16px;
    }
    
    .principal {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    
    .rodape {
      font-size: 14px;
      padding: 8px;
    }

    @media (max-width: 480px) {
        .container {
          max-width: 100%;
        }
    }
  }